.about {
  padding: 4rem;
  background: #f2efe7;
}

h1 {
  margin-top: 20px;
}

h3 {
  margin-top: 20px;
}

.who-am-i {
  margin-left: 20px;
}

.information {
  text-align: center;
}

.picture {
  border-style: groove;
  border-width: 20px;
  width: 500px;
  height: 500px;
}

.sides {
  justify-content: space-evenly;
}

.things-i-enjoy {
  margin-top: 20px;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  position: relative;

}

@media only screen and (min-width: 1300px) {
  .sides {
    display: flex;
  }
}

@media only screen and (max-width: 1300px) {
  .cards__item {
    margin-bottom: 2rem;
  }

  .picture {
    height: 450px;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1300px) {
  .things-i-enjoy {
    text-align: center;
    display: flex;
  }
}

@media only screen and (max-width: 1300px) {
  .things-i-enjoy {
    text-align: center;
    margin-bottom: 2rem;
  }
}
